/*tablet*/
@media all and (min-width:768px){
  .content__sub {
    flex-wrap: nowrap;
  }
  .input {
    flex-flow: row nowrap;
  }
  .input__email {
    width: 70%;
  }
  .input__submit {
    width: 20%;
  }
  .content__info {
    width: 55%;
    margin: 0px 10px;
  }
  .content__img {
    width: 40%;
  }
  header {
    height: 60px;
  }
  .title__name {
    font-size: 40px;
  }
  .title__logo {
    width: 38px;
    height: 38px;
  }
  .menu__modal {
    top: 60px;
    height: 55px;
    font-size: 20px;
  }
}


/*PC*/
@media all and (min-width:1024px){
  .info__menu {
    display: none;
  }
  .menu__modal {
    display: none;
  }
  .info__nav {
    visibility: visible;
  }
}